html {
    font-family: "Microsoft YaHei", sans-serif;
}

:root {
    --active-color: #00c77a;
}

.container {
    width: 1100px;
    margin: 0 auto;
    padding: 50px 0;

    .header {
        display: flex;
        line-height: 32px;

        .title {
            flex: 1;
            font-size: 22px;
        }

        .link {
            flex: 1;
            text-align: right;
            font-size: 16px;

            a {
                text-decoration: none;
                margin-left: 20px;
                color: #000000;
            }

            a:hover {
                border-bottom: 3px solid var(--active-color);
            }
        }
    }

    .body {
        padding: 70px 30px;

        .row {
            display: flex;
            margin-bottom: 60px;

            .col {
                flex: 1;
                border: 2px solid #000000;
                height: 220px;
                margin: 0 15px;
                box-shadow: 4px 4px 0px 0px #000000;
            }

            .col:hover {
                cursor: pointer;
                border: 2px solid var(--active-color);
                box-shadow: 5px 5px 0px 0px var(--active-color);
            }
            .item-1 {
                background-color: #aab2bd;
                /*background-image: url('./img/3.png');*/
            }
            .item-2 {
                background-color: #f2e6e9;
                /*background-image: url('./img/3.png');*/
            }

            .item-3 {
                background-color: #d6cadd;
                /*background-image: url('./img/3.png');*/
            }

            .item-4 {
                background-color: #9caca5;
                /*background-image: url('./img/4.png');*/
            }

            .item-5 {
                background-color: #8ca1b5;
                /*background-image: url('./img/5.png');*/
            }

            .item-6 {
                background-color: #d8bfb3;
                /*background-image: url('./img/6.png');*/
            }
        }
    }
}

